h1 {
    font-size: 30px ;
    color: rgb(31, 93, 228) ;
    text-align: center ;
    }
p { font-size: 20px ;
 color: rgb(252, 1, 1);
text-align: right;
}
    body {
        font-size: 20px ;
        background-color: rgb(0, 0, 0) ;
        color: rgb(211, 60, 60) ;
    }
image { height: 80% ;
    width: 70px ;
    text-align: center ;
    border: 5px  black ;
    padding: 10pc ;
    margin: 10px ;
 }
  
    