h1{
    font-size: 25px ;
    color: rgb(31, 93, 228) ;
    text-align: center ;
    }

    body{
        font-size: 15px ;
        background-color: rgb(0, 0, 0) ;
        color: aliceblue ;
    }
image{ height: 90% ;
    width: 100px ;
    text-align: center ;
    border: 5px  black ;
    padding: 10pc ;
    margin: 10px ;
 }
    